*{
    box-sizing: border-box;
}
marquee{
    font-size: 40px;
    margin-top: 30px;
    color: red;
}
.breking img{
    width: 50%;
    height: auto;
    margin-top: 40px;
    box-shadow: 5px 5px 6px gray;
}
.breking{
    border-bottom: 1px solid gray;
    margin: 0 15px;
}
.breking a{
    color: red;
    font-size: 34px;
    text-decoration: none;
}
table td img{
    width: 400px;
}
table td a{
    text-decoration: none;
    color: black;
    font-size: 26px;
}
table{
    margin-left: 140px;
}
table td{
    border-bottom: 1px dashed;
}
@media only screen and (max-width:600px){
    marquee{
        font-size: 21px;
    }
    .breking img{
        width: 70%;
    }
    .breking a{
        font-size: 20px;
    }
    table td img{
        width: 200px;
    }
    table td a{
        font-size: 20px;
    }
    table td{
        border-bottom: 1px dotted;
    }
    table{
        margin-left:0px;
    }
}
